@import 'https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css';

table.datatable td, table.datatable th {
    vertical-align: top;
}

.tag {
    font-size: 0.8em;
    background-color: rgba(255, 255, 255, .5);
    color: black;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.2em;
}

.container {

}

.menubar {
    display: flex;
    gap: 1em;
    justify-content: center;
}