/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #c84f23;
    --ifm-color-primary-dark: #b3461f;
    --ifm-color-primary-darker: #a7401d;
    --ifm-color-primary-darkest: #8a3417;
    --ifm-color-primary-light: #d96a3f;
    --ifm-color-primary-lighter: #e07f5a;
    --ifm-color-primary-lightest: #efab94;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.06);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --ifm-color-primary: #e28a64;
    --ifm-color-primary-dark: #d3754e;
    --ifm-color-primary-darker: #c86a45;
    --ifm-color-primary-darkest: #a95737;
    --ifm-color-primary-light: #ec9c7c;
    --ifm-color-primary-lighter: #f2ae93;
    --ifm-color-primary-lightest: #f6cab9;
    --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.07);
}
